body {
  text-align: center;
  font-family: Helvetica;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font-size: 70px;
  color: white;
}

.header a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

h3.header {
  color: white;
}
